<!DOCTYPE html>
<html>
<head>
	<title>Confirmation</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="confirm.css">
	<link rel="stylesheet" type="text/css" href="reserve.css">
	<link rel="stylesheet" type="text/css" href="notification.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" >
	$(document).ready(function() {
		$(".notificationLink").click(function() {
			$("#notificationContainer").fadeToggle(300);
			$("#notification_count").fadeOut("slow");
			return false;
		});
		$(document).click(function() { $("#notificationContainer").hide(); });
		$("#notificationContainer").click(function() { return true });
	});
	</script>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<ul id="nav">
				<li><div id="iconBox"><a href="/registerbook"><i id="Icons" class="fa fa-book fa-2x"></i></a><div id="iconText">Register</div></div></li>
				<li><div id="iconBox"><a href="/reservebook"><i id="Icons" class="fa fa-bookmark fa-2x"></i></a><div id="iconText">Reserve</div></div></li>
				<li>
					<% if (notifcnt > 0) { %><span id="notification_count"><%= notifcnt %></span><% } %>
					<div id="iconBox"><a href=""><i id="Icons" class="fa fa-exclamation fa-2x notificationLink"></i></a><div id="iconText">Notice</div></div>
					<div id="notificationContainer"">
						<div id="notificationTitle">Notifications</div>
						<div id="notificationsBody" class="notifications">
							<% for (n in notif) { %>
								<a href="/details?bookid=<%= notif[n].bid %>&n=t"><div class="bookNotice"><%= notif[n].uname %> registered <%= notif[n].title %>.</div></a>
							<% } %>
						</div>
					</div>
				</li>
				<li><div id="iconBox"><a href="/mypage"><i id="Icons" class="fa fa-user fa-2x"></i></a><div id="iconText">My Page</div></div></li>
				<li><div id="iconBox"><a href="/login"><i id="Icons" class="fa fa-sign-out fa-2x"></i></a><div id="iconText">Log Out</div></div></li>
			</ul>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
		</div>
	</div>

	<div class="outer">
		<% if (t == 'r') { %>
		<p id="here">Book has been uploaded</p>
		<form action="/details">
			<input type="hidden" name="bookid" value="<%= bookid %>"/>
			<input type="submit" class="confirm_button" value="Go to registered book"/>
		</form>
		<% } else if (t == 'rf') { %>
		<p id="here">Book cannot be uploaded</p>
		<% } else if (t == 'd') { %>
		<p id="here">Book has been deleted</p>
		<% } else if (t == 'df') { %>
		<p id="here">Book cannot be deleted</p>
		<% } else if (t == 'e') { %>
		<p id="here">Book has been edited</p>
		<form action="/details">
			<input type="hidden" name="bookid" value="<%= bookid %>"/>
			<input type="submit" class="confirm_button" value="Go to edited book"/>
		</form>
		<% } else if (t == 'ef') { %>
		<p id="here">Book cannot be edited</p>
		<% } else if (t == 'f') { %>
		<p id="here">No such book</p>
		<% } else if (t == 'rsd') { %>
		<p id="here">Book has been reserved</p>
		<% } else if (t == 'rsc') { %>
		<p id="here">Reservation has been cancled</p>
		<% } else if (t == 'rscf') { %>
		<p id="here">Reservation cannot be cancled</p>
		<% } %>
		<form action="/">
			<input type="submit" class="confirm_button" value="Go to main page"/>
		</form>
	</div>

</body>