<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="maintitle" align="center">
		<p style="color:white"> 금식수련회에 오신 것을 환영합니다!</p>
		<p style="color:white"> 아래 목록에서 원하는 강의를 선택하세요 </p>
	</div>
	<div class="content" align="center">
		<p style="color:white"> * 강의 취소시 신청했던 강의를 선택하세요 </p>
		<a href="/mycid" style="font-size: 16px;color:white">내가 신청한 강의 보러 가기</a>
	</div>
	<div class="mainbox">
		<% for (x in classlist) { %>
		<div class="classitem" id="col">
			<a href="/details?cid=<%= classlist[x].cid %>" id="c_title" style="color: white"><%= classlist[x].title %></a>
			<p>강사: <%= classlist[x].speaker %></p>
			<p>장소: <%= classlist[x].location %></p>
			<p>수강인원: <%= classlist[x].current %>/<%= classlist[x].max %></p>
		</div>
		<% } %>
		<% if (classlist.length == 0) { %>
		<p style="color:#000; font-size: 30px"> 강의가 없습니다 </p>
		<% } %>
	</div>
</body>
</html>