<!DOCTYPE html>
<html>
<head>
	<title>My Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="reserve.css">
	<link rel="stylesheet" type="text/css" href="mypage.css">
	<link rel="stylesheet" type="text/css" href="notification.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" >
	$(document).ready(function() {
		$(".notificationLink").click(function() {
			$("#notificationContainer").fadeToggle(300);
			$("#notification_count").fadeOut("slow");
			return false;
		});
		$(document).click(function() { $("#notificationContainer").hide(); });
		$("#notificationContainer").click(function() { return false });
	});
	</script>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<ul id="nav">
				<li><div id="iconBox"><a href="/registerbook"><i id="Icons" class="fa fa-book fa-2x"></i></a><div id="iconText">Register</div></div></li>
				<li><div id="iconBox"><a href="/reservebook"><i id="Icons" class="fa fa-bookmark fa-2x"></i></a><div id="iconText">Reserve</div></div></li>
				<li>
					<% if (notifcnt > 0) { %><span id="notification_count"><%= notifcnt %></span><% } %>
					<div id="iconBox"><a href=""><i id="Icons" class="fa fa-exclamation fa-2x notificationLink"></i></a><div id="iconText">Notice</div></div>
					<div id="notificationContainer"">
						<div id="notificationTitle">Notifications</div>
						<div id="notificationsBody" class="notifications">
							<% for (n in notif) { %>
								<a href="/details?bookid=<%= notif[n].bid %>&n=t"><div class="bookNotice"><%= notif[n].uname %> registered <%= notif[n].title %>.</div></a>
							<% } %>
						</div>
					</div>
				</li>
				<li><div id="iconBox"><a href="/mypage"><i id="Icons" class="fa fa-user fa-2x"></i></a><div id="iconText">My Page</div></div></li>
				<li><div id="iconBox"><a href="/login"><i id="Icons" class="fa fa-sign-out fa-2x"></i></a><div id="iconText">Log Out</div></div></li>
			</ul>
		</div>
	</div>
	<div class="top-menu">
	</div>

	<div class="outerbox">
		<div class="midbox">
			<div class="mypagetitle"> My page</div>
			<div class="innerbox">Personal Information
				<table>
					<tr>
						<td>Name</td>
						<td><%= user.name %></td>
					</tr>
					<tr>
						<td>KAIST email</td>
						<td><%= user.email %>@kaist.ac.kr</td>
					</tr>
					<form action="/deleteAccount">
					  <input type="submit" style="float: right;" class="reserveButton" value="Delete Account"/>
					</form>
				</table>
			</div>
			<div class="innerbox">My registered book
				<div>
					<% for (x in booklist) { %>
					<div class="items" id="col">
						<img src="<%= booklist[x].thumbnail %>" class="book_image">
						<div class="book_info">
							<a href="/details?bookid=<%= booklist[x].bookid %>" id="b_title"><%= booklist[x].title %></a>
							<p><%= booklist[x].uname %></p>
							<p><%= booklist[x].authors %></p>
							<p id="b_price"><%= booklist[x].price %>won</p>
						</div>
						<form action="/editbook">
							<input type="hidden" name="bookid" value="<%= booklist[x].bookid %>"/>
						  <input type="submit" class="myPageBut" value="edit"/>
						</form>
						<form action="/delete">
							<input type="hidden" name="bookid" value="<%= booklist[x].bookid %>"/>
						  <input type="submit" class="myPageBut" value="delete" onclick="deleteConfirm()" />
						</form>
					</div>
					<% } %>
				</div>
			</div>
			<div class="innerbox">My reserved Book
				<div>
					<% for (x in reserved_bookinfo) { %>
					<div class="items" id="col">
						<img src="<%= reserved_bookinfo[x].thumbnail %>" class="book_image">
						<div class="book_info">
							<a href="/bookdetails?isbn=<%= reserved_bookinfo[x].isbn %>&saved=true" id="b_title"><%= reserved_bookinfo[x].title %></a>
							<p><%= reserved_bookinfo[x].authors %></p>
						</div>
						<form action="/reserveCancel">
							<input type="hidden" name="isbn" value="<%= reserved_bookinfo[x].isbn %>"/>
						  <input type="submit" class="myPageBut" value="cancel" onclick="deleteConfirm()" />
						</form>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>

	<script >
		function deleteConfirm(event) {
			// if (confirm("Click OK if you really want to delete.")) {
			// 	event.stopPropagation();
			// }
			// else {
			// 	event.preventDefault();
			// }
		}
	</script>
</body>
</html>